/*
  blanc : #eeeeee
  bleu : #8ca5cc
  jaune : #fed37a
  vert : #04624f
  gris : #313453
*/
@font-face
{
  font-family: 'Bryndan Write';
  src: url("./fonts/Bryndan_Write.ttf");
}

@font-face
{
  font-family: 'Bangdodo';
  src: url("./fonts/Bangdodo.ttf");
}

/*pour toute la page la petiote étoile */
*
{
  margin:0;
  text-transform: uppercase;
  cursor: url("./img/Porocool.png"), auto;
}

*:focus
{
  outline: none !important;
  border-style: solid !important;
}

body
{
  -webkit-box-align: center;
  -ms-flex-align: center;
  background-image: url("./img/MainBackgroundResized.png");
  background-size: cover;
  font-family: 'Bryndan Write';
  display: -webkit-box;
  display: -ms-flexbox;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mainMenu
{
  display: flex;
  flex-direction: column;
}

#titrePage
{
  text-shadow: 6px 6px #cccccc;
  color: #8ca5cc;
  margin-top: 10%;
  margin-bottom: 10%;
  letter-spacing: 5px;
  font-family: 'Bangdodo';
}

#titrePage center
{
  display: block;
}

@media screen and (min-width: 1500px) {
  #titrePage
  {
    font-size: 800%;
  }
  #titrePage center
  {
    display: inline;
  };
}

@media screen and (min-width: 1100px) and (max-width: 1500px) {
  #titrePage
  {
    font-size: 500%;
  }
  #titrePage center
  {
    display: inline;
  }
}

@media screen and (max-width: 1100px) {
  #titrePage
  {
    font-size: 400%;
  }
  #titrePage center
  {
    display: block;
  };
}

button
{
  font-family: 'Bryndan Write';
}

button:hover, input[type="checkbox"]:hover, label:hover
{
  cursor: url("./img/roar.png"), auto;
}


/* PAGE PRINCIPALE */


/* Boutons */
.containerButtons
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.btn-main
{
  height: 75px;
  width: 300px;
  background-color: #8ca5cc;
  color: #eeeeee;
  border-radius: 20px;
  border: 2px solid #6a83aa;
  font-size: 250%;
  display: block;
}

.btn-main:active, #btn-contact:active
{
  background-color: #aec7ee;
}

.btn-main:hover, #btn-contact:hover
{
  background-color: #9db6dd;
}

.btn-main:focus, #btn-contact:focus
{
  background-color: #9db6dd;
  border-color: #486188;
  border-width: 3px;
}

#btn-contact {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  height: 40px;
  width: 120px;
  background-color: #8ca5cc;
  color: #eeeeee;
  border-radius: 20px;
  border: 2px solid #6a83aa;
  font-size: 100%;
  text-align: center;
  line-height: 1.5;
  display: inline-block;
  padding: 5px 20px;
}

/* Checkbox */

.checkboxStyle
{
  /*initial-value: "yes";*/
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 2px;
  background-color: #fed37a;
  border-radius: 10px;
  border: 2px solid #6a83aa;
  color:#6a83aa;
  display: inline-flex;
  width: 120px;
  text-align: center;
}

.checkboxStyle input
{
  text-align: left;
  background-color: #fed37a;
  margin-left: 4px;
}

.checkboxStyle input:checked
{
  background-color: #fed37a;
}

.checkboxStyle input::after
{
  background-color: #fed37a;
}

.checkboxStyle p
{
  width: 100%;
}

.checkboxChamp
{
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 2px;
  background-color: #fed37a;
  border-radius: 10px;
  border: 2px solid #6a83aa;
  color:#6a83aa;
  display: inline-flex;
  width: 210px;
  text-align: center;
}

.checkboxChamp input
{
  text-align: left;
  background-color: #fed37a;
  margin-left: 4px;
}

.checkboxChamp input:checked
{
  background-color: #fed37a;
}

.checkboxChamp input::after
{
  background-color: #fed37a;
}

.checkboxChamp p
{
  width: 100%;
}


/* POPUP */

/* Gère l'ouverture et la fermeture de la popup */
#popup-overlay
{
  position: absolute;
  background-color:#8ca5cc;
  z-index: 1000;
  display: none;
  color: #eeeeee;
  border-radius: 20px;
  border: 3px solid #6a83aa;
  margin: 10%;
  /*margin-top: 300px;*/
}

#popup-overlay.open
{
  display: flex !important;
}

/* Popup contact */
#popup-content-contact
{
  font-size: 250%;
}

#contact-content
{
  display: none;
  padding: 0;
}

#contact-content.open
{
  display: inherit;
  padding: 30px;
  margin-bottom: -9%;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 800px;
  font-size: 70%;
}

/* Popup lane */
#popup-content-lane
{
  font-size: 250%;
}

#list-lane
{
  display: none;
  padding: 0;
}

#list-lane.open
{
  display: inherit;
  padding: 30px;
  margin-bottom: -9%;
}


/* Popup champion */
#popup-content-champion
{
  font-size: 250%;
}

#list-champion
{
  display: none;
  padding: 0;
}

#list-champion.open
{
  display: inherit;
  padding: 30px;
  margin-bottom: -5%;
}


/* Popup result du tirage du champion aleatoire */
#popup-content-result
{
  font-size: 250%;
}

#randomResult
{
  display: none;
  padding: 0;
}

#randomResult.open
{
  display: inherit;
  padding: 10px;
}


/* Autres parametres de popup */

.titrePopup
{
  padding-bottom: 20px;
  padding-top: 13px;
  font-size: 32px;
  text-align: center;
}

.requinbaleine
{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
  margin-top: 5%;
  margin-left: 30%;
  z-index: 1;
}

.internetlost
{
  display: flex;
  width: 5px;
  text-align: center;
  margin-left: 30%;
  z-index: 1;
}

#imgChampion
{
  background-size: cover;
  width: 500px;
  border: 3px solid #6a83aa;
  height: 300px;
  margin-bottom: 20px;
}

.barButtons
{
  position:absolute;
  display: flex;
  top:-7px;
  right:-7px;
  text-decoration:none;
  color:#6a83aa;
  padding:5px;
  font-size: 40px;
}

.head-btn
{
  position: relative;
  width: 30px;
  height: 30px;
  margin: 10px;
  padding: 0;
  font-size: 28px;
  font-weight: bold;
  color: #cccccc;
  background-color: #536685;
  border-radius: 5px;
  border: none;
}

.head-btn:active
{
  color:#bbbbbb;
  border: 1px solid #bbbbbb;
  background-color: #646786;
}

.head-btn:hover
{
  color:#dddddd;
  border: none;
  background-color: #424564;
}

.head-btn:focus
{
  color:#dddddd;
  border: none;
  background-color: #424564;
}

.refresh-btn {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6%;
}

.close-btn {
  font-weight: 50;
  font-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1%;
}

.btn-popup
{
  height: 30px;
  width: 130px;
  background-color: #6a83aa;
  color: #eeeeee;
  border-radius: 5px;
  border: 2px solid #eeeeee;
  color:#eeeeee;
  font-size: 20px;
  display: block;
  margin: 2%;
}

.btn-popup:hover
{
  color:#dddddd;
  border-color: #dddddd;
  background-color: #424564;
}

.btn-popup:active
{
  color:#bbbbbb;
  border-color: #bbbbbb;
  background-color: #646786;
}

.buttonBot
{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.formContactStyle {
  display: flex;
  flex-direction: column;
  background-color: #8ca5cc;
  color: #eeeeee;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  max-width: 2000px;
  font-size: 200%;
  margin-right: 20px;
}

textarea {
  border-radius: 20px;
  width: 100%;
  height: 150px;
  font-size: 16px;
  padding: 10px;
  background-color: #eeeeee;
  border: 2px solid #6a83aa;
  cursor: url("./img/roar.png"), auto;
  resize: none;
}

label[for="name"] {
  margin-bottom: 10px; /* Adds space between label and input */
  text-align: left;
  display: block;
  margin-bottom: 5px;
}

input[type="text"], input[type="name"] {
  width: 50%;
  height: 20px;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px; /* Adds space between fields */
  text-align: left;
  border-radius: 20px;
  border: 2px solid #6a83aa;
  background-color: #eeeeee;
  cursor: url("./img/roar.png"), auto;
}

label[for="email"] {
  margin-bottom: 10px; /* Adds space between label and input */
  display: block;
  margin-bottom: 5px;
}

input[type="text"], input[type="email"] {
  width: 50%;
  height: 20px;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px; /* Adds space between fields */
  border-radius: 20px;
  box-shadow: none;
  border: 2px solid #6a83aa;
  background-color: #eeeeee;
  cursor: url("./img/roar.png"), auto;
}

label[for="message"] {
  margin-bottom: 10px; /* Adds space between label and input */
  display: block;
  margin-bottom: 5px;
}

input[type="text"], input[type="message"] {
  width: 50%;
  height: 20px;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px; /* Adds space between fields */
}

.sendButton{
  height: 30px;
  width: 130px;
  background-color: #536685;
  border-radius: 5px;
  color:#cccccc;
  font-size: 25px;
  display: block;
  margin: 2%;
  box-shadow: none;
  border: none;
  font-family: 'Bryndan Write';
}

#thankYouPopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5); /* optionnel, pour l'arrière-plan */
  padding: 20px; /* Ajoutez du padding pour le popup */
}

#thankYouPopup .modal-content {
  display: inline-block; /* Ajuste la taille en fonction du contenu */
  padding: 20px;
  /*background-color: #8ca5cc;*/
  border-radius: 10px;
  text-align: center;
  font-size: 2.5em; /* Ajuste la taille du texte si nécessaire */
  border: 2px solid #6a83aa;
  color: #eeeeee;
  max-width: 80%; /* Réduit la largeur pour éviter trop d'espace */
  margin: 0;
  height: auto;
  width: auto;
  box-shadow: none;
}


.sendButton:hover{
  background-color: #536685;
  color:#dddddd;
  border-color: #dddddd;
  background-color: #6a83aa;
}